<div class="page-wrapper">
<h2>Name</h2>
<%= @student.name %>
<h2>Content</h2>
<%= @student.email %>
<h2> Phone Number </h2>
<%= @student.phone_no %>
</div>

<%= link_to "Students List", students_index_students_path %>